@font-face {
    font-family:"STARWARS";
    src:url("fonts/STARWARS.eot?") format("eot"),
        url("fonts/STARWARS.woff") format("woff"),
        url("fonts/STARWARS.ttf") format("truetype"),
        url("fonts/STARWARS.svg#STARWARS") format("svg");
    font-weight:normal;
    font-style:normal;
}

h1, 
h2, 
h3, 
p {
  /* font-family: "Helvetica", sans-serif; */
  font-family: 'Nosifer', cursive;
  /* font-family: STARWARS, Verdana, Geneva, Tahoma, sans-serif */
}

h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  text-align: center;
  font-size: 100px;
  color: khaki;
}

.item h2 {
  font-size: 32px;
  color: white;
}

.price {
  font-weight: bold;
  color: blue;
}

#brush {
  background-color: mediumspringgreen;
}

#frame {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}