<!DOCTYPE html>
<html>
<head>
    <title>Time Fries</title>
    <link href="../static/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/index.js"></script>
</head>
<body style="background-color: #ffc0cb;">
  <div class="top-panel">
    <h1>Time Fries</h1>
  </div>

  <div class="middle-panel">
    <table id="indv-party-list">
      <tr>
        <td>
          <div class="party-button-select alert" id="party-1" type="button" onClick="openPartyPage(this.id)">
            <img id="party-1img" src="../static/images/alert-icon.png">
          </div>
        </td>
        <td>
          <div class="party-button-select na" id="party-2" type="button" onClick="openPartyPage(this.id)">
            <img id="party-2img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
        <td>
          <div class="party-button-select na" id="party-3" type="button" onClick="openPartyPage(this.id)">
            <img id="party-3img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
        <td>
          <div class="party-button-select na" id="party-4" type="button" onClick="openPartyPage(this.id)">
            <img id="party-4img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="party-button-select na" id="party-5" type="button" onClick="openPartyPage(this.id)">
            <img id="party-5img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
        <td>
          <div class="party-button-select na" id="party-6" type="button" onClick="openPartyPage(this.id)">
            <img id="party-6img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
        <td>
          <div class="party-button-select na" id="party-7" type="button" onClick="openPartyPage(this.id)">
            <img id="party-7img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
        <td>
          <div class="party-button-select na" id="party-8" type="button" onClick="openPartyPage(this.id)">
            <img id="party-8img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="party-button-select na" id="party-9" type="button" onClick="openPartyPage(this.id)">
            <img id="party-9img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
        <td>
          <div class="party-button-select na" id="party-10" type="button" onClick="openPartyPage(this.id)">
            <img id="party-10img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
        <td>
          <div class="party-button-select na" id="party-11" type="button" onClick="openPartyPage(this.id)">
            <img id="party-11img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
        <td>
          <div class="party-button-select na" id="party-12" type="button" onClick="openPartyPage(this.id)">
            <img id="party-12img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="party-button-select na" id="party-13" type="button" onClick="openPartyPage(this.id)">
            <img id="party-13img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
        <td>
          <div class="party-button-select na" id="party-14" type="button" onClick="openPartyPage(this.id)">
            <img id="party-14img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
        <td>
          <div class="party-button-select na" id="party-15" type="button" onClick="openPartyPage(this.id)">
            <img id="party-15img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
        <td>
          <div class="party-button-select na" id="party-16" type="button" onClick="openPartyPage(this.id)">
            <img id="party-16img" src="../static/images/unreceived-icon.png">
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="bottom-panel">
    <tr>
      <td>
        <button type="button" id="signup-button" style="margin-left: 25vw; margin-right: 3vw;" onclick="signupButtonRedirect()">Contribution Sign-Ups</button>
      </td>
      <td>
        <button type="button" id="indv-rsvp-list" style="margin-right: 13vw; margin-left: 3vw;" onclick="rsvpButtonRedirect()">My RSVPs</button>
      </td>
    </tr>
  </div>

</body>
</html>