<!DOCTYPE html>
<html>
<head>
    <title>Time Fries</title>
    <link href="../static/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/index.js"></script>
</head>

<body>
  <div id="loading-page">
    <div id="user-input-container">
      <h2>your number:</h2>
      <input id="loading-input" type="text"> 
      <input id="loading-submit" type="submit" value="submit" onclick="onSubmit()">
    </div>
  </div>
</body>
</html>

<script>  
  window.onload = function() {
    sessionStorage.clear();
  };

  window.onpageshow = function(event) {
    if (event.persisted) {
        window.location.reload();
    }
  };
</script>