<!DOCTYPE html>
<html>
<head>
    <title>Time Fries</title>
    <link href="../static/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/index.js"></script>
</head>
<body style="background-color: #e1aef8;">
  <div class="top-panel">
    <h1 style="color: #bd50f0;">My RSVPs</h1>
  </div>
  <div class="middle-panel" style="background-color: #bd50f0; height: 68.5vh; padding: 5px;">
    <table id="main_table" border=1 frame=void rules=rows class="party-cell" style="margin-top: 5px; background-color: #e1aef8; border-color: #bd50f0;"> 
      <tr>
        <td>
          <div class="line-item" style="color: #bd50f0;">
            <div>August 30th, 2022</div>
          </div>
        </td>
        <td>
          <div class="sign-up yes" style="color: #bd50f0;">
            <div>Pending</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="line-item" style="color: #bd50f0;">
            <div>September 6th, 2022</div>
          </div>
        </td>
        <td>
          <div class="sign-up yes" style="color: #bd50f0;">
            <div>Pending</div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="bottom-panel bp-csp" style="background-color: #e1aef8; border-color: #bd50f0;">
    <div>
        <button id="bp-rsvp" action="action" onclick="window.history.go(-1); return false;" type="submit">Back</button>
    </div>
  </div>

</body>
</html>

<script>
  window.onpageshow = function(event) {
      if (!sessionStorage.getItem("userName")) {
          noSession();
      }
  };
</script>