<!DOCTYPE html>
<html>
<head>
    <title>Srishti's Dinner Parties</title>
    <link href="../static/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/index.js"></script>
</head>
<body style="background-color: #ebf3a1;">
  <div class="top-panel">
    <h1 style="color: #dfce3a;">My Sign-Ups</h1>
  </div>

  <div class="middle-panel" style="background-color: #dfce3a; height: 68.5vh; padding: 5px;">
    <table border=1 frame=void rules=rows class="party-cell" class="party-cell" style="margin-top: 5px; background-color: #ebf3a1; border-color: #cab91b;"> 
      <tr>
        <td>
          <div class="line-item" style="color: #cab91b;">
            <div id="commit-1">1. Item 1</div>
          </div>
        </td>
        <td>
          <div class="sign-up yes" style="color: #cab91b;">
            <div id="date-1">August 30th, 2022</div>
          </div>
        </td>
      </tr>
      <tr> 
        <td>
          <div class="line-item" style="color: #cab91b;">
            <div id="commit-2">2. Item 2</div>
          </div>
        </td>
        <td>
          <div class="sign-up yes" style="color: #cab91b;">
            <div id="date-2">September 6th, 2022</div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="bottom-panel bp-csp" style="border-color: #dfce3a; background-color: #ebf3a1;">
    <div>
        <button id="bp-msp" action="action" onclick="window.history.go(-1); return false;" type="submit">Back</button>
    </div>
  </div>

</body>
</html>